body {
    font-family: "Playpen Sans", cursive;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #FF7F00;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

header h1 {
    text-align: right;
    font-family:Playpen Sans;
    color: white;
    font-size: 35px;
}

header img {
    width: 91px;
    height: 91px;
    border-radius: 45px;
}

nav a {
    background-color: white;
    border-radius: 100px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #FF7F00;
    position: relative;
}

nav {
    display: flex;
    gap: 70px;
}

main {
    display: flex;              
    align-items: center;        
    height: 100vh;             
}

.pizza {
    position: relative;
    display: flex;
    width: auto;
    height: 450px;
    right: 50px;
}

h2 {
    position: relative;
    left: 400px;
    font-size: 40px;
    bottom: 100px;
}

.components {
    position: relative;
    left: 75px;
    bottom: 40px;
}

.price {
    position: relative;
    right: 30px;
    bottom: 5px;
}

.button {
    background-color: #FF7F00;
    color: white;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    top: 50px;
    right: 125px;
    transition: 0.2s;
}

.button:hover {
    box-shadow: 0px 3px 5px 0px gray;
    transform: translateY(-3px);
}
